*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url(../static/images/reg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper{
    width: 450px;
    padding: 20px 30px;
    border-radius: 15px;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    color: white;
    
}
.wrapper h1{
    color: rgb(255, 255, 255);
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    width: 100%;
    height: 50px;
    position: relative;
    margin: 30px 0;
}
.input-box input{
    width:100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border:2px solid rgba(255,255,255,.2);
    border-radius:40px;
    font-size:18px;
    color:#fff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color:#fff;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate((-50%));
    font-size: 20px;
}
.wrapper .btn{
    width:100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius:40px;
    box-shadow:0 0 10px  rgba(0,0,0,.1);
    cursor:pointer;
    font-size: 16px;
    color:#333;
    font-weight:600;
}
.wrapper.register-link{
     font-size: 14.5px;
     text-align: center;
     margin: 20px 0 15px;
}
.register-link p a{
    color:#73ff16;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}
.flash-messages .alert {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 14px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}